In [13]:
import geopandas as gpd
import pandas as pd
import gspread
from oauth2client.service_account import ServiceAccountCredentials
from df2gspread import df2gspread as d2g

In [2]:
wind = gpd.read_file('../data/USWTDB/uswtdb_v3_2_20201014.geojson')

In [47]:
scope = ['https://spreadsheets.google.com/feeds',
 'https://www.googleapis.com/auth/drive']
credentials = ServiceAccountCredentials.from_json_keyfile_name(
 'wind-energy-299318-3149f6f4b059.json', scopes=scope)
gc = gspread.authorize(credentials)
spreadsheet_key='1X2eaA74NfKkH-z6T2FRJMZIhSwkY1-cVXQrO37mnQEk'

In [33]:
lcoe = pd.read_csv('../data/levelized-cost-of-energy.csv')

In [21]:
lcoe_US = lcoe[lcoe['Code'] == 'USA']

In [22]:
lcoe_US = lcoe_US.iloc[:,0:5]

In [23]:
lcoe_US

,Entity,Code,Year,Onshore wind LCOE (2019 USD/kWh),Solar LCOE (2019 USD/kWh)
346,United States,USA,1984,0.297,NaN
347,United States,USA,1985,0.280,NaN
348,United States,USA,1986,0.253,NaN
349,United States,USA,1987,0.247,NaN
350,United States,USA,1988,0.190,NaN
351,United States,USA,1989,0.177,NaN
352,United States,USA,1990,0.196,NaN
353,United States,USA,1991,0.190,NaN
354,United States,USA,1998,0.105,NaN
355,United States,USA,1999,0.100,NaN
356,United States,USA,2000,0.088,NaN
357,United States,USA,2001,0.084,NaN
358,United States,USA,2002,0.080,NaN
359,United States,USA,2003,0.071,NaN
360,United States,USA,2004,0.080,NaN
361,United States,USA,2005,0.070,NaN
362,United States,USA,2006,0.077,NaN
363,United States,USA,2007,0.079,NaN
364,United States,USA,2008,0.079,NaN
365,United States,USA,2009,0.090,NaN
366,United States,USA,2010,0.085,0.2015
367,United States,USA,2011,0.092,0.2417
368,United States,USA,2012,0.081,0.2123
369,United States,USA,2013,0.069,0.2161
370,United States,USA,2014,0.060,0.1514
371,United States,USA,2015,0.058,0.1436
372,United States,USA,2016,0.056,0.1336
373,United States,USA,2017,0.051,0.0993
374,United States,USA,2018,0.048,0.0789
375,United States,USA,2019,0.046,0.0677

In [49]:
wks_name= 'lcoe_USA'
d2g.upload(lcoe_US, spreadsheet_key, wks_name, credentials=credentials, row_names=True)
print('Data upload success')

Data upload success

In [50]:
lcoe_US.to_csv('lcoe_US.csv')