In [1]:
import geopandas as gpd
import pandas as pd
import numpy as np
from numpy import average
from shapely.geometry import Point
import matplotlib.pyplot as plt
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster
import statistics

In [2]:
wind = gpd.read_file('../data/USWTDB/uswtdb_v3_2_20201014.geojson')

In [3]:
wind.head()

,case_id,t_state,p_name,p_year,p_tnum,p_cap,t_manu,t_model,t_cap,t_hh,t_rd,t_rsa,t_ttlh,t_conf_atr,t_conf_loc,xlong,ylat,geometry
0,3005443.0,CA,251 Wind,1987.0,194.0,18.43,Vestas,None,95.0,NaN,NaN,NaN,NaN,2.0,3.0,-118.351089,35.091896,POINT (-118.35109 35.09190)
1,3072704.0,CA,251 Wind,1987.0,194.0,18.43,Vestas,None,95.0,NaN,NaN,NaN,NaN,2.0,3.0,-118.364197,35.077644,POINT (-118.36420 35.07764)
2,3072695.0,CA,251 Wind,1987.0,194.0,18.43,Vestas,None,95.0,NaN,NaN,NaN,NaN,2.0,3.0,-118.364410,35.077435,POINT (-118.36441 35.07744)
3,3072661.0,CA,251 Wind,1987.0,194.0,18.43,Vestas,None,95.0,NaN,NaN,NaN,NaN,2.0,3.0,-118.363762,35.077908,POINT (-118.36376 35.07791)
4,3005333.0,CA,251 Wind,1987.0,194.0,18.43,Vestas,None,95.0,NaN,NaN,NaN,NaN,2.0,3.0,-118.368690,35.075294,POINT (-118.36869 35.07529)

In [4]:
wind['rated_cap_mw'] = wind['t_cap']/1000

In [5]:
wind.rated_cap_mw.describe()

count    59571.000000
mean         1.828775
std          0.668494
min          0.050000
25%          1.500000
50%          1.800000
75%          2.300000
max          6.000000
Name: rated_cap_mw, dtype: float64

In [6]:
wind[wind['rated_cap_mw'] == 6.0]

,case_id,t_state,p_name,p_year,p_tnum,p_cap,t_manu,t_model,t_cap,t_hh,t_rd,t_rsa,t_ttlh,t_conf_atr,t_conf_loc,xlong,ylat,geometry,rated_cap_mw
4884,3041854.0,RI,Block Island,2016.0,5.0,30.0,GE Wind,Haliade 150-6,6000.0,106.0,150.0,17671.46,181.1,3.0,3.0,-71.529114,41.110191,POINT (-71.52911 41.11019),6.0
4885,3041851.0,RI,Block Island,2016.0,5.0,30.0,GE Wind,Haliade 150-6,6000.0,106.0,150.0,17671.46,181.1,3.0,3.0,-71.507561,41.125713,POINT (-71.50756 41.12571),6.0
4886,3041852.0,RI,Block Island,2016.0,5.0,30.0,GE Wind,Haliade 150-6,6000.0,106.0,150.0,17671.46,181.1,3.0,3.0,-71.513947,41.119930,POINT (-71.51395 41.11993),6.0
4887,3041855.0,RI,Block Island,2016.0,5.0,30.0,GE Wind,Haliade 150-6,6000.0,106.0,150.0,17671.46,181.1,3.0,3.0,-71.537651,41.106396,POINT (-71.53765 41.10640),6.0
4888,3041853.0,RI,Block Island,2016.0,5.0,30.0,GE Wind,Haliade 150-6,6000.0,106.0,150.0,17671.46,181.1,3.0,3.0,-71.521164,41.114731,POINT (-71.52116 41.11473),6.0
12167,3105267.0,VA,Coastal Virginia Offshore Wind,2020.0,2.0,NaN,Siemens Gamesa Renewable Energy,SWT-6.0-154,6000.0,111.0,154.0,18626.50,188.0,1.0,3.0,-75.491638,36.886841,POINT (-75.49164 36.88684),6.0
12168,3105266.0,VA,Coastal Virginia Offshore Wind,2020.0,2.0,NaN,Siemens Gamesa Renewable Energy,SWT-6.0-154,6000.0,111.0,154.0,18626.50,188.0,1.0,3.0,-75.491577,36.886841,POINT (-75.49158 36.88684),6.0

In [7]:
statistics.mode(list(wind['rated_cap_mw']))

1.5

In [8]:
wind.t_hh.describe()

count    58629.000000
mean        79.186150
std         12.439689
min         19.000000
25%         80.000000
50%         80.000000
75%         80.000000
max        131.000000
Name: t_hh, dtype: float64

In [9]:
statistics.mode(list(wind['t_hh']))

80.0

In [10]:
wind.t_manu.describe()

count       59569
unique         68
top       GE Wind
freq        25858
Name: t_manu, dtype: object

In [11]:
wind.t_manu.value_counts().head(10)

GE Wind                            25858
Vestas                             13904
Siemens                             5144
Gamesa                              3076
Mitsubishi                          2791
Suzlon                              1316
Siemens Gamesa Renewable Energy     1212
Nordex                              1145
Acciona                              758
Clipper                              681
Name: t_manu, dtype: int64

In [12]:
wind.t_state.value_counts() #number of turbines in each state

TX    15895
CA     6833
IA     5723
OK     4397
KS     3507
IL     3141
CO     2741
MN     2698
ND     2121
OR     2064
WA     1772
NE     1385
IN     1371
WY     1366
MI     1337
NM     1259
NY     1142
SD     1060
MO      886
PA      751
MT      556
ID      541
OH      503
WI      452
WV      396
ME      392
UT      208
AZ      146
AK      142
HI      132
NC      105
MA       92
NH       84
MD       80
VT       73
NV       68
PR       63
RI       32
TN       18
NJ        6
CT        3
VA        2
FL        2
DE        1
GU        1
AR        1
Name: t_state, dtype: int64

In [13]:
wind.head(1)

,case_id,t_state,p_name,p_year,p_tnum,p_cap,t_manu,t_model,t_cap,t_hh,t_rd,t_rsa,t_ttlh,t_conf_atr,t_conf_loc,xlong,ylat,geometry,rated_cap_mw
0,3005443.0,CA,251 Wind,1987.0,194.0,18.43,Vestas,None,95.0,NaN,NaN,NaN,NaN,2.0,3.0,-118.351089,35.091896,POINT (-118.35109 35.09190),0.095

In [14]:
wind_farms = wind.groupby('p_name').p_tnum.max().to_frame().reset_index()

In [15]:
wind_farms.sort_values(by='p_tnum', ascending=False).head()

                                      p_name  p_tnum
1581             unknown San Gorgonio Pass 1   731.0
1595  unknown Tehachapi Wind Resource Area 1   720.0
546    Historic Victory Garden (Wind Stream)   549.0
787                           Mesa Wind Farm   460.0
1191                  Stateline Wind Project   454.0

In [16]:
wind_park_by_state = wind.groupby(['t_state', 'p_name', 'p_cap']).size().to_frame()

In [17]:
wind_park_by_state

                                         0
t_state p_name                 p_cap
AK      Bethel Wind Turbine    0.90      1
        Chevak                 0.40      4
        Delta Junction         0.10      1
                               0.90      2
        Emmonak 1              0.40      4
...                                    ...
WY      Rolling Hills          99.00    66
        Roundhouse             226.56   82
        Seven Mile Hill I & II 118.50   79
        Silver Sage            42.00    20
        Top of the World       200.20  110

[1484 rows x 1 columns]

In [18]:
wind_park_by_state = wind_park_by_state.reset_index()

In [19]:
wind_park_by_state.p_cap.sum()

113278.962

In [20]:
installed_wind = pd.read_excel('../data/installed_wind_capacity_by_state_Q3_2020.xls', skiprows=5, nrows=53)

In [21]:
installed_wind

,State,1999-12-31 00:00:00,2000-12-31 00:00:00,2001-12-31 00:00:00,2002-12-31 00:00:00,2003-12-31 00:00:00,2004-12-31 00:00:00,2005-12-31 00:00:00,2006-12-31 00:00:00,2007-12-31 00:00:00,...,2011-12-31 00:00:00,2012-12-31 00:00:00,2013-12-31 00:00:00,2014-12-31 00:00:00,2015-12-31 00:00:00,2016-12-31 00:00:00,2017-12-31 00:00:00,2018-12-31 00:00:00,2019-12-31 00:00:00,Q3 2020
0,Alabama,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,...,0.0,0,0,0,0,0,0,0,0,0
1,Alaska,0.725,0.825,0.825,0.925,0.925,1.189,1.489,1.705,1.7050,...,11.0,59,62,62,62,62,62,63,64,64
2,Arizona,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,...,139.0,238,238,238,268,268,268,268,268,268
3,Arkansas,0.000,0.000,0.000,0.000,0.100,0.100,0.100,0.100,0.1000,...,0.1,0,0,0,0,0,0,0,0,0
4,California,1615.993,1615.993,1683.093,1823.067,2024.907,2094.977,2149.457,2376.107,2439.1070,...,3917.0,5542,5830,5917,6108,5662,5609,5885,5973,5871
5,Colorado,21.600,21.600,61.200,61.200,223.200,230.700,230.750,290.750,1066.7500,...,1805.0,2301,2332,2593,2992,3026,3104,3706,3762,4558
6,Connecticut,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,...,0.0,0,0,0,5,5,5,5,5,5
7,Delaware,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,...,2.0,2,2,2,2,2,2,2,2,2
8,District of Columbia,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,...,0.0,0,0,0,0,0,0,0,0,0
9,Florida,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,...,0.0,0,0,0,0,0,0,0,0,0
10,Georgia,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,...,0.0,0,0,0,0,0,0,0,0,0
11,Hawaii,1.555,1.555,1.555,8.555,8.555,8.555,8.555,42.115,63.1150,...,92.0,206,206,206,203,203,206,206,206,233
12,Idaho,0.000,0.000,0.000,0.000,0.216,0.216,75.216,75.316,75.3160,...,618.0,973,973,973,973,973,973,973,973,973
13,Illinois,0.000,0.000,0.000,0.000,50.400,51.060,107.160,107.160,699.3700,...,2742.0,3568,3568,3568,3842,4026,4332,4861,5350,5858
14,Indiana,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,...,1340.0,1543,1544,1745,1895,1895,2117,2317,2317,2464
15,Iowa,242.420,242.420,324.170,422.650,471.820,633.993,836.303,932.228,1272.9280,...,4322.0,5133,5178,5688,6212,6917,7308,8422,10190,10799
16,Kansas,1.500,1.500,113.700,113.700,113.700,113.700,263.700,364.200,364.2000,...,1274.0,2713,2967,2967,3766,4451,5110,5653,6128,6512
17,Kentucky,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,...,0.0,0,0,0,0,0,0,0,0,0
18,Louisiana,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,...,0.0,0,0,0,0,0,0,0,0,0
19,Maine,0.100,0.100,0.100,0.100,0.100,0.100,0.100,9.100,42.1100,...,397.0,431,431,440,613,901,923,923,923,923
20,Maryland,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,...,120.0,120,120,160,190,190,191,191,191,191
21,Massachusetts,0.300,0.300,0.980,0.980,0.980,0.980,1.080,3.540,5.0400,...,47.0,103,106,107,107,115,115,113,120,120
22,Michigan,0.600,0.600,2.400,2.400,2.400,2.400,2.595,2.595,2.5950,...,377.0,988,1163,1531,1531,1611,1860,1904,2190,2459
23,Minnesota,273.390,291.210,319.800,337.700,558.250,600.100,745.400,895.850,1299.7895,...,2718.0,2987,2987,3035,3235,3526,3699,3779,3843,4048
24,Mississippi,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,...,0.0,0,0,0,0,0,0,0,0,0
25,Missouri,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,61.7000,...,459.0,458,459,459,459,659,959,959,959,1201
26,Montana,0.100,0.100,0.100,0.360,1.145,1.145,136.860,145.860,152.8950,...,386.0,645,645,665,665,685,695,800,800,880
27,Nebraska,2.820,2.820,2.820,13.980,13.980,13.980,73.380,73.380,71.8800,...,337.0,459,534,812,890,1328,1426,1972,2142,2364
28,Nevada,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,...,0.0,152,152,152,152,152,152,152,152,152
29,New Hampshire,0.050,0.050,0.050,0.050,0.050,0.050,0.050,1.100,1.1000,...,26.0,171,171,171,185,185,185,185,214,214
30,New Jersey,0.000,0.000,0.000,0.000,0.000,0.000,7.500,7.500,7.5000,...,8.0,9,9,9,9,9,9,9,9,9
31,New Mexico,0.660,0.660,0.660,0.660,205.980,265.980,405.980,495.980,495.9800,...,750.0,778,778,812,1080,1112,1682,1732,1953,1953
32,New York,0.000,18.200,48.150,48.450,48.450,48.450,185.500,370.300,424.8000,...,1403.0,1638,1722,1748,1749,1827,1829,1987,1987,1987
33,North Carolina,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,...,0.0,0,0,0,0,0,208,208,208,208
34,North Dakota,0.390,0.390,0.390,4.790,66.290,66.290,97.790,178.335,344.8350,...,1445.0,1680,1681,1886,2143,2746,2996,3155,3628,3640
35,Ohio,0.000,0.000,0.000,0.000,3.600,7.200,7.200,7.425,7.4250,...,112.0,428,428,435,443,545,617,729,738,864
36,Oklahoma,0.000,0.000,0.000,0.000,176.250,176.250,474.500,534.500,689.0000,...,2007.0,3134,3134,3782,5184,6645,7495,8072,8172,8173
37,Oregon,25.080,25.080,156.840,218.340,259.340,262.640,337.640,438.140,885.3900,...,2513.0,3153,3153,3153,3153,3163,3213,3213,3423,3423
38,Pennsylvania,0.130,10.530,34.530,34.530,129.030,129.030,129.030,179.030,293.5300,...,789.0,1340,1340,1340,1340,1369,1369,1369,1459,1459
39,Puerto Rico,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,...,0.0,125,125,125,125,125,125,125,125,125
40,Rhode Island,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.660,0.6600,...,2.0,9,9,9,9,52,54,75,75,75
41,South Carolina,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,...,0.0,0,0,0,0,0,0,0,0,0
42,South Dakota,0.000,0.000,2.600,3.014,44.264,44.264,44.264,44.264,98.2640,...,784.0,783,783,803,977,977,977,1019,1525,1848
43,Tennessee,0.000,1.980,1.980,1.980,1.980,28.980,28.980,28.980,28.9800,...,29.0,29,29,29,29,29,29,29,29,29
44,Texas,183.520,183.520,1095.760,1095.760,1290.260,1290.260,1992.070,2735.770,4353.3700,...,10394.0,12214,12355,14098,17713,20321,22637,24899,28843,30904
45,Utah,0.000,0.225,0.225,0.225,0.225,0.225,0.885,0.885,0.8850,...,325.0,325,325,325,327,391,391,391,391,391
46,Vermont,6.050,6.050,6.050,6.050,6.050,6.050,6.050,6.050,6.0500,...,46.0,119,119,119,119,119,149,149,149,149
47,Virginia,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,...,0.0,0,0,0,0,0,0,0,0,0
48,Washington,0.000,0.000,180.180,228.280,243.880,240.580,389.980,818.080,1163.1800,...,2573.0,2808,2808,3075,3075,3075,3075,3075,3085,3108
49,West Virginia,0.000,0.000,0.000,66.000,66.000,66.000,66.000,66.000,146.0000,...,564.0,583,583,583,583,686,686,686,686,742
50,Wisconsin,22.980,22.980,52.980,52.980,52.980,53.045,53.045,53.045,53.0450,...,631.0,648,648,648,648,648,746,737,737,746
51,Wyoming,72.515,90.635,140.635,140.635,284.635,284.635,288.455,288.455,288.4550,...,1412.0,1410,1410,1410,1410,1490,1489,1489,1589,1816
52,Grand Total,2472.478,2539.323,4231.773,4687.361,6349.942,6723.124,9147.064,11574.505,16907.0495,...,46916.1,60005,61108,65877,74472,82171,89077,96487,105583,111808

In [22]:
installed_wind.columns = installed_wind.columns.astype(str).str.split('-', 1).str[0]

In [47]:
installed_wind.to_csv('correct_state_install_cap.csv')

In [31]:
installed_wind = installed_wind.set_index('State')
iw2 = installed_wind.stack()
iw2

                            0
State
Alabama     1999          0.0
            2000          0.0
            2001          0.0
            2002          0.0
            2003          0.0
...                       ...
Grand Total 2016      82171.0
            2017      89077.0
            2018      96487.0
            2019     105583.0
            Q3 2020  111808.0

[1166 rows x 1 columns]

In [32]:
iw2 = iw2.to_frame().reset_index()
iw2

            State  level_1         0
0         Alabama     1999       0.0
1         Alabama     2000       0.0
2         Alabama     2001       0.0
3         Alabama     2002       0.0
4         Alabama     2003       0.0
...           ...      ...       ...
1161  Grand Total     2016   82171.0
1162  Grand Total     2017   89077.0
1163  Grand Total     2018   96487.0
1164  Grand Total     2019  105583.0
1165  Grand Total  Q3 2020  111808.0

[1166 rows x 3 columns]

In [33]:
iw2.columns = [['State', 'Year', 'Installed_Cap']]

In [45]:
iw2_states = iw2.iloc[0:1144]

In [46]:
iw2_states.to_csv('stacked_state_cap.csv')

In [25]:
installed_wind_2 = installed_wind.transpose()

In [26]:
us_installed_cap = installed_wind_2.iloc[:, 52:]
us_installed_cap = us_installed_cap.reset_index()
us_installed_cap.columns = [['Year', 'Grand_Total']]
us_installed_cap.to_csv('us_installed_cap2.csv')

In [27]:
us_installed_cap

       Year  Grand_Total
0      1999    2472.4780
1      2000    2539.3230
2      2001    4231.7730
3      2002    4687.3610
4      2003    6349.9420
5      2004    6723.1240
6      2005    9147.0640
7      2006   11574.5050
8      2007   16907.0495
9      2008   25410.0420
10     2009   34863.3530
11     2010   40266.9610
12     2011   46916.1000
13     2012   60005.0000
14     2013   61108.0000
15     2014   65877.0000
16     2015   74472.0000
17     2016   82171.0000
18     2017   89077.0000
19     2018   96487.0000
20     2019  105583.0000
21  Q3 2020  111808.0000

In [28]:
installed_wind = installed_wind.reset_index()

In [29]:
installed_wind.to_csv('state_installed_cap1.csv')

In [30]:
installed_wind

,State,1999,2000,2001,2002,2003,2004,2005,2006,2007,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Q3 2020
0,Alabama,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,...,0.0,0,0,0,0,0,0,0,0,0
1,Alaska,0.725,0.825,0.825,0.925,0.925,1.189,1.489,1.705,1.7050,...,11.0,59,62,62,62,62,62,63,64,64
2,Arizona,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,...,139.0,238,238,238,268,268,268,268,268,268
3,Arkansas,0.000,0.000,0.000,0.000,0.100,0.100,0.100,0.100,0.1000,...,0.1,0,0,0,0,0,0,0,0,0
4,California,1615.993,1615.993,1683.093,1823.067,2024.907,2094.977,2149.457,2376.107,2439.1070,...,3917.0,5542,5830,5917,6108,5662,5609,5885,5973,5871
5,Colorado,21.600,21.600,61.200,61.200,223.200,230.700,230.750,290.750,1066.7500,...,1805.0,2301,2332,2593,2992,3026,3104,3706,3762,4558
6,Connecticut,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,...,0.0,0,0,0,5,5,5,5,5,5
7,Delaware,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,...,2.0,2,2,2,2,2,2,2,2,2
8,District of Columbia,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,...,0.0,0,0,0,0,0,0,0,0,0
9,Florida,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,...,0.0,0,0,0,0,0,0,0,0,0
10,Georgia,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,...,0.0,0,0,0,0,0,0,0,0,0
11,Hawaii,1.555,1.555,1.555,8.555,8.555,8.555,8.555,42.115,63.1150,...,92.0,206,206,206,203,203,206,206,206,233
12,Idaho,0.000,0.000,0.000,0.000,0.216,0.216,75.216,75.316,75.3160,...,618.0,973,973,973,973,973,973,973,973,973
13,Illinois,0.000,0.000,0.000,0.000,50.400,51.060,107.160,107.160,699.3700,...,2742.0,3568,3568,3568,3842,4026,4332,4861,5350,5858
14,Indiana,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,...,1340.0,1543,1544,1745,1895,1895,2117,2317,2317,2464
15,Iowa,242.420,242.420,324.170,422.650,471.820,633.993,836.303,932.228,1272.9280,...,4322.0,5133,5178,5688,6212,6917,7308,8422,10190,10799
16,Kansas,1.500,1.500,113.700,113.700,113.700,113.700,263.700,364.200,364.2000,...,1274.0,2713,2967,2967,3766,4451,5110,5653,6128,6512
17,Kentucky,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,...,0.0,0,0,0,0,0,0,0,0,0
18,Louisiana,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,...,0.0,0,0,0,0,0,0,0,0,0
19,Maine,0.100,0.100,0.100,0.100,0.100,0.100,0.100,9.100,42.1100,...,397.0,431,431,440,613,901,923,923,923,923
20,Maryland,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,...,120.0,120,120,160,190,190,191,191,191,191
21,Massachusetts,0.300,0.300,0.980,0.980,0.980,0.980,1.080,3.540,5.0400,...,47.0,103,106,107,107,115,115,113,120,120
22,Michigan,0.600,0.600,2.400,2.400,2.400,2.400,2.595,2.595,2.5950,...,377.0,988,1163,1531,1531,1611,1860,1904,2190,2459
23,Minnesota,273.390,291.210,319.800,337.700,558.250,600.100,745.400,895.850,1299.7895,...,2718.0,2987,2987,3035,3235,3526,3699,3779,3843,4048
24,Mississippi,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,...,0.0,0,0,0,0,0,0,0,0,0
25,Missouri,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,61.7000,...,459.0,458,459,459,459,659,959,959,959,1201
26,Montana,0.100,0.100,0.100,0.360,1.145,1.145,136.860,145.860,152.8950,...,386.0,645,645,665,665,685,695,800,800,880
27,Nebraska,2.820,2.820,2.820,13.980,13.980,13.980,73.380,73.380,71.8800,...,337.0,459,534,812,890,1328,1426,1972,2142,2364
28,Nevada,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,...,0.0,152,152,152,152,152,152,152,152,152
29,New Hampshire,0.050,0.050,0.050,0.050,0.050,0.050,0.050,1.100,1.1000,...,26.0,171,171,171,185,185,185,185,214,214
30,New Jersey,0.000,0.000,0.000,0.000,0.000,0.000,7.500,7.500,7.5000,...,8.0,9,9,9,9,9,9,9,9,9
31,New Mexico,0.660,0.660,0.660,0.660,205.980,265.980,405.980,495.980,495.9800,...,750.0,778,778,812,1080,1112,1682,1732,1953,1953
32,New York,0.000,18.200,48.150,48.450,48.450,48.450,185.500,370.300,424.8000,...,1403.0,1638,1722,1748,1749,1827,1829,1987,1987,1987
33,North Carolina,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,...,0.0,0,0,0,0,0,208,208,208,208
34,North Dakota,0.390,0.390,0.390,4.790,66.290,66.290,97.790,178.335,344.8350,...,1445.0,1680,1681,1886,2143,2746,2996,3155,3628,3640
35,Ohio,0.000,0.000,0.000,0.000,3.600,7.200,7.200,7.425,7.4250,...,112.0,428,428,435,443,545,617,729,738,864
36,Oklahoma,0.000,0.000,0.000,0.000,176.250,176.250,474.500,534.500,689.0000,...,2007.0,3134,3134,3782,5184,6645,7495,8072,8172,8173
37,Oregon,25.080,25.080,156.840,218.340,259.340,262.640,337.640,438.140,885.3900,...,2513.0,3153,3153,3153,3153,3163,3213,3213,3423,3423
38,Pennsylvania,0.130,10.530,34.530,34.530,129.030,129.030,129.030,179.030,293.5300,...,789.0,1340,1340,1340,1340,1369,1369,1369,1459,1459
39,Puerto Rico,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,...,0.0,125,125,125,125,125,125,125,125,125
40,Rhode Island,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.660,0.6600,...,2.0,9,9,9,9,52,54,75,75,75
41,South Carolina,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,...,0.0,0,0,0,0,0,0,0,0,0
42,South Dakota,0.000,0.000,2.600,3.014,44.264,44.264,44.264,44.264,98.2640,...,784.0,783,783,803,977,977,977,1019,1525,1848
43,Tennessee,0.000,1.980,1.980,1.980,1.980,28.980,28.980,28.980,28.9800,...,29.0,29,29,29,29,29,29,29,29,29
44,Texas,183.520,183.520,1095.760,1095.760,1290.260,1290.260,1992.070,2735.770,4353.3700,...,10394.0,12214,12355,14098,17713,20321,22637,24899,28843,30904
45,Utah,0.000,0.225,0.225,0.225,0.225,0.225,0.885,0.885,0.8850,...,325.0,325,325,325,327,391,391,391,391,391
46,Vermont,6.050,6.050,6.050,6.050,6.050,6.050,6.050,6.050,6.0500,...,46.0,119,119,119,119,119,149,149,149,149
47,Virginia,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,...,0.0,0,0,0,0,0,0,0,0,0
48,Washington,0.000,0.000,180.180,228.280,243.880,240.580,389.980,818.080,1163.1800,...,2573.0,2808,2808,3075,3075,3075,3075,3075,3085,3108
49,West Virginia,0.000,0.000,0.000,66.000,66.000,66.000,66.000,66.000,146.0000,...,564.0,583,583,583,583,686,686,686,686,742
50,Wisconsin,22.980,22.980,52.980,52.980,52.980,53.045,53.045,53.045,53.0450,...,631.0,648,648,648,648,648,746,737,737,746
51,Wyoming,72.515,90.635,140.635,140.635,284.635,284.635,288.455,288.455,288.4550,...,1412.0,1410,1410,1410,1410,1490,1489,1489,1589,1816
52,Grand Total,2472.478,2539.323,4231.773,4687.361,6349.942,6723.124,9147.064,11574.505,16907.0495,...,46916.1,60005,61108,65877,74472,82171,89077,96487,105583,111808