In [1]:
import geopandas as gpd
import pandas as pd
import numpy as np
from shapely.geometry import Point
import matplotlib.pyplot as plt
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster

In [2]:
wind = gpd.read_file('../data/USWTDB/uswtdb_v3_2_20201014.geojson')

In [3]:
wind.case_id.sort_values()

14452    3000001.0
50556    3000002.0
64371    3000003.0
50450    3000005.0
45687    3000008.0
           ...
5908     3105263.0
5854     3105264.0
5829     3105265.0
12168    3105266.0
12167    3105267.0
Name: case_id, Length: 65548, dtype: float64

In [4]:
manufacturers = wind.t_manu.value_counts().to_frame().reset_index()
manufacturers['index'].iloc[40:68]
manufacturers.head()

        index  t_manu
0     GE Wind   25858
1      Vestas   13904
2     Siemens    5144
3      Gamesa    3076
4  Mitsubishi    2791

In [5]:
wind.shape

(65548, 18)

In [6]:
wind.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 65548 entries, 0 to 65547
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   case_id     65548 non-null  float64
 1   t_state     65548 non-null  object
 2   p_name      65548 non-null  object
 3   p_year      64055 non-null  float64
 4   p_tnum      65548 non-null  float64
 5   p_cap       60580 non-null  float64
 6   t_manu      59569 non-null  object
 7   t_model     59245 non-null  object
 8   t_cap       59571 non-null  float64
 9   t_hh        58629 non-null  float64
 10  t_rd        58911 non-null  float64
 11  t_rsa       58911 non-null  float64
 12  t_ttlh      58629 non-null  float64
 13  t_conf_atr  65548 non-null  float64
 14  t_conf_loc  65548 non-null  float64
 15  xlong       65548 non-null  float64
 16  ylat        65548 non-null  float64
 17  geometry    65548 non-null  geometry
dtypes: float64(13), geometry(1), object(4)
memory usage: 9.0+ MB

In [7]:
year_install = wind.p_year.value_counts().to_frame().reset_index()

In [8]:
year_install =  year_install.sort_values(by = 'index')

In [9]:
year_install

     index  p_year
36  1981.0      11
17  1982.0     937
22  1983.0     433
30  1984.0     155
19  1985.0     714
31  1986.0     151
28  1987.0     213
26  1988.0     277
25  1989.0     288
24  1990.0     327
38  1991.0       1
37  1992.0       2
34  1994.0      30
33  1995.0      43
35  1996.0      14
27  1997.0     231
29  1998.0     186
18  1999.0     907
32  2000.0      72
13  2001.0    1875
21  2002.0     461
16  2003.0    1152
23  2004.0     328
14  2005.0    1658
15  2006.0    1507
8   2007.0    3200
2   2008.0    5047
1   2009.0    5700
11  2010.0    2965
7   2011.0    3496
0   2012.0    6772
20  2013.0     603
12  2014.0    2506
3   2015.0    4301
4   2016.0    3799
10  2017.0    3044
9   2018.0    3141
5   2019.0    3792
6   2020.0    3716

In [10]:
wind_old = pd.read_csv('../data/Onshore_Industrial_Wind_Turbine_Locations_for_the_United_States_to_March_2014.csv')

In [11]:
wind_old.columns

Index(['FID', 'unique_id', 'site_name', 'total_turb', 'on_year', 'year_range',
       'on_year_s', 'manufac', 'model', 'type_tower', 'decommiss',
       'MW_turbine', 'total_cpcy', 'total_ht', 'tower_h', 'blade_l',
       'rotor_dia', 'rotor_s_a', 'lat_DD', 'long_DD', 'state', 'county',
       'conf_attr', 'conf_loc', 'WENDI_name', 'EIA_name', 'FAA_jdate',
       'FAA_AGL', 'FAA_ORS', 'image_name', 'image_year', 'comments'],
      dtype='object')

In [12]:
wind_old['geometry'] = wind_old.apply(lambda x: Point((float(x.long_DD), 
                                                         float(x.lat_DD))), 
                                        axis=1)

In [13]:
wind_old.head()

,FID,unique_id,site_name,total_turb,on_year,year_range,on_year_s,manufac,model,type_tower,...,conf_loc,WENDI_name,EIA_name,FAA_jdate,FAA_AGL,FAA_ORS,image_name,image_year,comments,geometry
0,0,982,unknown Gilliam County,2,unknown,unknown,-99999,unknown,unknown,unknown,...,0,unknown,unknown,2013192,124.09,41-020577,Bing Maps Aerial,unknown,"FAA lists as Dismantle, google temporal analys...",POINT (-120.298786 45.653994)
1,1,1065,unknown Gilliam County,2,unknown,unknown,-99999,unknown,unknown,unknown,...,0,unknown,unknown,2013192,124.09,41-020578,Bing Maps Aerial,unknown,"FAA lists as Dismantle, google temporal analys...",POINT (-120.305986 45.663494)
2,2,1895,Banner Wind Project,2,2008,no,2008,Entegrity,EW50,trestle,...,2,Banner Wind Project,unknown,2009065,38.72,02-020064,Bing Maps Aerial,unknown,"trestle turbines removed, new monopoles instal...",POINT (-165.427476 64.569901)
3,3,1897,Banner Wind Project,2,2008,no,2008,Entegrity,EW50,trestle,...,2,Banner Wind Project,unknown,2009065,38.72,02-020070,Bing Maps Aerial,unknown,"trestle turbines removed, new monopoles instal...",POINT (-165.426376 64.57090100000001)
4,4,2608,unknown Tehachapi Wind Resource Area 1,549,1982_1990,yes,1982,unknown,unknown,monopole,...,2,unknown,unknown,-99999,-99999.00,unknown,NAIP,2012,,POINT (-118.321488 35.059895)

In [14]:
wind_old_geo = gpd.GeoDataFrame(wind_old, 
                           crs = wind.crs, 
                           geometry = wind_old['geometry'])

In [16]:
wind_de = pd.merge(wind, wind_old, on = 'geometry', how = 'inner')

In [17]:
wind_de['decommiss'].value_counts()

no    611
Name: decommiss, dtype: int64

In [18]:
wind_de.columns

Index(['case_id', 't_state', 'p_name', 'p_year', 'p_tnum', 'p_cap', 't_manu',
       't_model', 't_cap', 't_hh', 't_rd', 't_rsa', 't_ttlh', 't_conf_atr',
       't_conf_loc', 'xlong', 'ylat', 'geometry', 'FID', 'unique_id',
       'site_name', 'total_turb', 'on_year', 'year_range', 'on_year_s',
       'manufac', 'model', 'type_tower', 'decommiss', 'MW_turbine',
       'total_cpcy', 'total_ht', 'tower_h', 'blade_l', 'rotor_dia',
       'rotor_s_a', 'lat_DD', 'long_DD', 'state', 'county', 'conf_attr',
       'conf_loc', 'WENDI_name', 'EIA_name', 'FAA_jdate', 'FAA_AGL', 'FAA_ORS',
       'image_name', 'image_year', 'comments'],
      dtype='object')

In [40]:
wind_old_geo.columns

Index(['FID', 'unique_id', 'site_name', 'total_turb', 'on_year', 'year_range',
       'on_year_s', 'manufac', 'model', 'type_tower', 'decommiss',
       'MW_turbine', 'total_cpcy', 'total_ht', 'tower_h', 'blade_l',
       'rotor_dia', 'rotor_s_a', 'lat_DD', 'long_DD', 'state', 'county',
       'conf_attr', 'conf_loc', 'WENDI_name', 'EIA_name', 'FAA_jdate',
       'FAA_AGL', 'FAA_ORS', 'image_name', 'image_year', 'comments',
       'geometry'],
      dtype='object')

In [21]:
wind.groupby('p_year').t_hh.mean()

p_year
1981.0          NaN
1982.0          NaN
1983.0    22.800000
1984.0    24.000000
1985.0    24.386341
1986.0    25.285714
1987.0          NaN
1988.0    23.000000
1989.0          NaN
1990.0    30.000000
1991.0          NaN
1992.0    41.500000
1994.0    40.000000
1995.0    39.651163
1996.0    50.000000
1997.0    41.647059
1998.0    52.080645
1999.0    57.633149
2000.0    57.180556
2001.0    58.414576
2002.0    62.699782
2003.0    69.234783
2004.0    65.421779
2005.0    75.148028
2006.0    75.845436
2007.0    78.132560
2008.0    78.195780
2009.0    78.621082
2010.0    79.325188
2011.0    80.877153
2012.0    83.711371
2013.0    80.418803
2014.0    82.666133
2015.0    82.456762
2016.0    82.940776
2017.0    86.010600
2018.0    88.251646
2019.0    90.078615
2020.0    90.112127
Name: t_hh, dtype: float64

In [22]:
wind.groupby('p_year').t_hh.max()

p_year
1981.0      NaN
1982.0      NaN
1983.0     22.8
1984.0     24.0
1985.0     24.6
1986.0     60.0
1987.0      NaN
1988.0     23.0
1989.0      NaN
1990.0     30.0
1991.0      NaN
1992.0     43.0
1994.0     40.0
1995.0     40.0
1996.0     50.0
1997.0     50.0
1998.0     65.0
1999.0     80.0
2000.0     67.0
2001.0     80.0
2002.0     80.0
2003.0     80.0
2004.0     80.0
2005.0     85.0
2006.0     80.0
2007.0    105.0
2008.0    100.0
2009.0     80.0
2010.0    100.0
2011.0    100.0
2012.0    100.0
2013.0    103.0
2014.0    100.0
2015.0    100.0
2016.0    116.5
2017.0     95.0
2018.0    130.0
2019.0    131.0
2020.0    112.0
Name: t_hh, dtype: float64

In [23]:
hub_height_year = wind.groupby(['p_year', 't_manu']).t_hh.mean().to_frame().reset_index()

In [24]:
hub_height_year.head(50)

    p_year        t_manu       t_hh
0   1982.0       Lolland        NaN
1   1982.0         Micon        NaN
2   1982.0        Vestas        NaN
3   1983.0        Vestas  22.800000
4   1984.0         Bonus  24.000000
5   1984.0         Micon        NaN
6   1984.0      Nordtank        NaN
7   1985.0         Bonus  24.600000
8   1985.0         Micon        NaN
9   1985.0      Nordtank  24.000000
10  1985.0      Vanguard        NaN
11  1985.0        Vestas        NaN
12  1985.0     Windmatic        NaN
13  1986.0         Bonus  24.000000
14  1986.0         Micon        NaN
15  1986.0        Vestas  60.000000
16  1987.0         Micon        NaN
17  1987.0        Vestas        NaN
18  1988.0        Danwin  23.000000
19  1988.0        Wincon        NaN
20  1990.0           DWT        NaN
21  1990.0        Vestas  30.000000
22  1991.0        Vestas        NaN
23  1992.0        Vestas  40.000000
24  1992.0    Wind World  43.000000
25  1994.0        Vestas  40.000000
26  1995.0        Vestas  40.000000
27  1995.0     Windmatic  25.000000
28  1996.0        Vestas  50.000000
29  1997.0           AOC  24.000000
30  1997.0     NEG Micon  43.000000
31  1997.0      Seaforth  30.500000
32  1997.0  Silver Eagle        NaN
33  1997.0        Vestas  50.000000
34  1997.0          Zond  40.000000
35  1998.0         Enron  53.000000
36  1998.0     NEG Micon  30.000000
37  1998.0        Vestas  50.238095
38  1998.0          Zond  50.000000
39  1999.0           AOC  24.000000
40  1999.0         Enron  65.000000
41  1999.0    Mitsubishi  60.000000
42  1999.0     NEG Micon  50.801887
43  1999.0        Nordex  50.000000
44  1999.0        Vestas  64.236559
45  1999.0          Zond  56.645933
46  2000.0           AOC  26.500000
47  2000.0    Mitsubishi  50.000000
48  2000.0     NEG Micon  30.000000
49  2000.0        Vestas  64.600000

In [25]:
turbine_count_year = wind.groupby(['p_year', 't_manu']).case_id.count().to_frame().reset_index()

In [26]:
turbine_count_year.head(50)

    p_year        t_manu  case_id
0   1982.0       Lolland        2
1   1982.0         Micon        1
2   1982.0        Vestas        1
3   1983.0        Vestas      432
4   1984.0         Bonus       20
5   1984.0         Micon        1
6   1984.0      Nordtank      134
7   1985.0         Bonus      132
8   1985.0         Micon      108
9   1985.0      Nordtank       73
10  1985.0      Vanguard        3
11  1985.0        Vestas       83
12  1985.0     Windmatic       49
13  1986.0         Bonus       55
14  1986.0         Micon       94
15  1986.0        Vestas        2
16  1987.0         Micon      185
17  1987.0        Vestas       14
18  1988.0        Danwin      115
19  1988.0        Wincon        1
20  1990.0           DWT        1
21  1990.0        Vestas      326
22  1991.0        Vestas        1
23  1992.0        Vestas        1
24  1992.0    Wind World        1
25  1994.0        Vestas       30
26  1995.0        Vestas       42
27  1995.0     Windmatic        1
28  1996.0        Vestas        1
29  1997.0           AOC        1
30  1997.0     NEG Micon        8
31  1997.0      Seaforth        6
32  1997.0  Silver Eagle        2
33  1997.0        Vestas       12
34  1997.0          Zond       12
35  1998.0         Enron      139
36  1998.0     NEG Micon        2
37  1998.0        Vestas       42
38  1998.0          Zond        3
39  1999.0           AOC        5
40  1999.0         Enron      256
41  1999.0    Mitsubishi       23
42  1999.0     NEG Micon      320
43  1999.0        Nordex        1
44  1999.0        Vestas       93
45  1999.0          Zond      209
46  2000.0           AOC        2
47  2000.0    Mitsubishi       29
48  2000.0     NEG Micon        1
49  2000.0        Vestas       40

In [27]:
wind.groupby(['p_year', 't_state']).case_id.count()

p_year  t_state
1981.0  CA          11
1982.0  CA         937
1983.0  CA         432
        OK           1
1984.0  CA         155
                  ...
2020.0  TX         882
        VA           2
        WA          38
        WV          20
        WY         153
Name: case_id, Length: 502, dtype: int64

In [28]:
wind[wind['p_year'] == 1981.0].shape

(11, 18)

In [29]:
wind_v1 = pd.read_csv('../data/uswtdb_v1_0_20180419.csv')

In [30]:
wind_v1[wind_v1['p_year'] == 1981].shape

(537, 24)

In [31]:
wind_v1_year = wind_v1.p_year.value_counts().to_frame().reset_index().sort_values('index')
wind_v1_year.columns = ['year', 'count_v1']
year_install.columns = ['year', 'count_v3']

In [32]:
old_new = pd.merge(year_install, wind_v1_year, on = 'year', how = 'left')

In [33]:
old_new

      year  count_v3  count_v1
0   1981.0        11     537.0
1   1982.0       937    1910.0
2   1983.0       433     979.0
3   1984.0       155     216.0
4   1985.0       714    1467.0
5   1986.0       151     311.0
6   1987.0       213     406.0
7   1988.0       277     282.0
8   1989.0       288       NaN
9   1990.0       327     432.0
10  1991.0         1       NaN
11  1992.0         2       1.0
12  1994.0        30     100.0
13  1995.0        43     154.0
14  1996.0        14      20.0
15  1997.0       231      41.0
16  1998.0       186     205.0
17  1999.0       907    1064.0
18  2000.0        72      90.0
19  2001.0      1875    1879.0
20  2002.0       461     469.0
21  2003.0      1152    1215.0
22  2004.0       328     328.0
23  2005.0      1658    1652.0
24  2006.0      1507    1525.0
25  2007.0      3200    3208.0
26  2008.0      5047    5022.0
27  2009.0      5700    5804.0
28  2010.0      2965    2956.0
29  2011.0      3496    3511.0
30  2012.0      6772    6775.0
31  2013.0       603     616.0
32  2014.0      2506    2520.0
33  2015.0      4301    4287.0
34  2016.0      3799    3878.0
35  2017.0      3044    3656.0
36  2018.0      3141       6.0
37  2019.0      3792       NaN
38  2020.0      3716       NaN

In [66]:
wind_2014_by_year =wind_old_geo.groupby(['on_year_s']).unique_id.count().to_frame().reset_index()

In [67]:
wind_2014_by_year.head(50)

    on_year_s  unique_id
0      -99999        485
1        1981       3679
2        1982       3635
3        1983       1343
4        1984        668
5        1985        602
6        1986        452
7        1987        264
8        1988        302
9        1989        440
10       1990         59
11       1991        340
12       1992          1
13       1993          1
14       1994         74
15       1995        154
16       1996        299
17       1997         20
18       1998        193
19       1999        944
20       2000         93
21       2001       1542
22       2002        713
23       2003       1192
24       2004        352
25       2005       1691
26       2006       1564
27       2007       3428
28       2008       5069
29       2009       5469
30       2010       2721
31       2011       3665
32       2012       6562
33       2013        514
34       2014        446

In [57]:
wind_old_geo.tower_h.value_counts()

 80.0       23925
-99999.0    10324
 100.0       1744
 68.0        1500
 50.0        1092
            ...
 34.0           1
 58.0           1
 120.0          1
 36.7           1
 66.0           1
Name: tower_h, Length: 63, dtype: int64

In [63]:
wind.head(50)

,case_id,t_state,p_name,p_year,p_tnum,p_cap,t_manu,t_model,t_cap,t_hh,t_rd,t_rsa,t_ttlh,t_conf_atr,t_conf_loc,xlong,ylat,geometry
0,3005443.0,CA,251 Wind,1987.0,194.0,18.43,Vestas,None,95.0,NaN,NaN,NaN,NaN,2.0,3.0,-118.351089,35.091896,POINT (-118.35109 35.09190)
1,3072704.0,CA,251 Wind,1987.0,194.0,18.43,Vestas,None,95.0,NaN,NaN,NaN,NaN,2.0,3.0,-118.364197,35.077644,POINT (-118.36420 35.07764)
2,3072695.0,CA,251 Wind,1987.0,194.0,18.43,Vestas,None,95.0,NaN,NaN,NaN,NaN,2.0,3.0,-118.364410,35.077435,POINT (-118.36441 35.07744)
3,3072661.0,CA,251 Wind,1987.0,194.0,18.43,Vestas,None,95.0,NaN,NaN,NaN,NaN,2.0,3.0,-118.363762,35.077908,POINT (-118.36376 35.07791)
4,3005333.0,CA,251 Wind,1987.0,194.0,18.43,Vestas,None,95.0,NaN,NaN,NaN,NaN,2.0,3.0,-118.368690,35.075294,POINT (-118.36869 35.07529)
5,3001247.0,CA,251 Wind,1987.0,194.0,18.43,Vestas,None,95.0,NaN,NaN,NaN,NaN,2.0,3.0,-118.368187,35.075794,POINT (-118.36819 35.07579)
6,3009410.0,CA,251 Wind,1987.0,194.0,18.43,Vestas,None,95.0,NaN,NaN,NaN,NaN,2.0,3.0,-118.368088,35.075893,POINT (-118.36809 35.07589)
7,3073377.0,CA,251 Wind,1987.0,194.0,18.43,Vestas,None,95.0,NaN,NaN,NaN,NaN,2.0,3.0,-118.352165,35.088856,POINT (-118.35216 35.08886)
8,3072663.0,CA,251 Wind,1987.0,194.0,18.43,Vestas,None,95.0,NaN,NaN,NaN,NaN,2.0,3.0,-118.368202,35.075695,POINT (-118.36820 35.07570)
9,3072670.0,CA,251 Wind,1987.0,194.0,18.43,Vestas,None,95.0,NaN,NaN,NaN,NaN,2.0,3.0,-118.368408,35.075542,POINT (-118.36841 35.07554)
10,3072662.0,CA,251 Wind,1987.0,194.0,18.43,Vestas,None,95.0,NaN,NaN,NaN,NaN,2.0,3.0,-118.368385,35.075634,POINT (-118.36839 35.07563)
11,3073403.0,CA,251 Wind,1987.0,194.0,18.43,Vestas,None,95.0,NaN,NaN,NaN,NaN,2.0,3.0,-118.352219,35.088993,POINT (-118.35222 35.08899)
12,3007482.0,CA,251 Wind,1987.0,194.0,18.43,Vestas,None,95.0,NaN,NaN,NaN,NaN,2.0,3.0,-118.368690,35.075195,POINT (-118.36869 35.07520)
13,3073348.0,CA,251 Wind,1987.0,194.0,18.43,Vestas,None,95.0,NaN,NaN,NaN,NaN,2.0,3.0,-118.352028,35.088959,POINT (-118.35203 35.08896)
14,3049500.0,IA,30 MW Iowa DG Portfolio,2017.0,10.0,30.00,Nordex,AW125/3000,3000.0,87.5,125.0,12271.85,150.0,3.0,3.0,-93.515892,42.016373,POINT (-93.51589 42.01637)
15,3057059.0,IA,30 MW Iowa DG Portfolio,2017.0,10.0,30.00,Nordex,AW125/3000,3000.0,87.5,125.0,12271.85,150.0,3.0,3.0,-93.623009,41.881470,POINT (-93.62301 41.88147)
16,3049503.0,IA,30 MW Iowa DG Portfolio,2017.0,10.0,30.00,Nordex,AW125/3000,3000.0,87.5,125.0,12271.85,150.0,3.0,3.0,-93.523651,42.006813,POINT (-93.52365 42.00681)
17,3063272.0,IA,30 MW Iowa DG Portfolio,2017.0,10.0,30.00,Nordex,AW125/3000,3000.0,87.5,125.0,12271.85,150.0,3.0,3.0,-93.430367,42.028233,POINT (-93.43037 42.02823)
18,3049504.0,IA,30 MW Iowa DG Portfolio,2017.0,10.0,30.00,Nordex,AW125/3000,3000.0,87.5,125.0,12271.85,150.0,3.0,3.0,-92.672089,41.742046,POINT (-92.67209 41.74205)
19,3053390.0,IA,30 MW Iowa DG Portfolio,2017.0,10.0,30.00,Nordex,AW125/3000,3000.0,87.5,125.0,12271.85,150.0,3.0,3.0,-93.700424,41.977608,POINT (-93.70042 41.97761)
20,3063321.0,IA,30 MW Iowa DG Portfolio,2017.0,10.0,30.00,Nordex,AW125/3000,3000.0,87.5,125.0,12271.85,150.0,3.0,3.0,-93.367798,42.497940,POINT (-93.36780 42.49794)
21,3049502.0,IA,30 MW Iowa DG Portfolio,2017.0,10.0,30.00,Nordex,AW125/3000,3000.0,87.5,125.0,12271.85,150.0,3.0,3.0,-93.518082,42.013630,POINT (-93.51808 42.01363)
22,3060912.0,IA,30 MW Iowa DG Portfolio,2017.0,10.0,30.00,Nordex,AW125/3000,3000.0,87.5,125.0,12271.85,150.0,3.0,3.0,-93.513710,42.019119,POINT (-93.51371 42.01912)
23,3063269.0,IA,30 MW Iowa DG Portfolio,2017.0,10.0,30.00,Nordex,AW125/3000,3000.0,87.5,125.0,12271.85,150.0,3.0,3.0,-93.632835,41.882477,POINT (-93.63284 41.88248)
24,3046335.0,MA,6th Space Warning Squadron,2013.0,2.0,3.36,GE Wind,GE1.68-82.5,1680.0,80.0,82.5,5345.62,121.3,3.0,3.0,-70.545303,41.754192,POINT (-70.54530 41.75419)
25,3046262.0,MA,6th Space Warning Squadron,2013.0,2.0,3.36,GE Wind,GE1.68-82.5,1680.0,80.0,82.5,5345.62,121.3,3.0,3.0,-70.541801,41.752491,POINT (-70.54180 41.75249)
26,3039278.0,MA,AFCEE MMR Turbines,2011.0,2.0,3.00,GE Wind,GE1.5-77,1500.0,80.0,77.0,4656.63,118.6,3.0,3.0,-70.547798,41.759590,POINT (-70.54780 41.75959)
27,3039277.0,MA,AFCEE MMR Turbines,2011.0,2.0,3.00,GE Wind,GE1.5-77,1500.0,80.0,77.0,4656.63,118.6,3.0,3.0,-70.545303,41.757591,POINT (-70.54530 41.75759)
28,3035472.0,IA,AG Land 1,2012.0,6.0,9.60,GE Wind,GE1.6-82.5,1600.0,80.0,82.5,5345.62,121.3,3.0,3.0,-93.325691,42.206390,POINT (-93.32569 42.20639)
29,3038256.0,IA,AG Land 2,2012.0,6.0,9.60,GE Wind,GE1.6-82.5,1600.0,80.0,82.5,5345.62,121.3,3.0,3.0,-93.428093,42.146091,POINT (-93.42809 42.14609)
30,3038255.0,IA,AG Land 3,2012.0,6.0,9.60,GE Wind,GE1.6-82.5,1600.0,80.0,82.5,5345.62,121.3,3.0,3.0,-93.431992,42.145592,POINT (-93.43199 42.14559)
31,3038257.0,IA,AG Land 4,2012.0,6.0,9.60,GE Wind,GE1.6-82.5,1600.0,80.0,82.5,5345.62,121.3,3.0,3.0,-93.354897,41.904194,POINT (-93.35490 41.90419)
32,3037763.0,IA,AG Land 5,2012.0,6.0,9.60,GE Wind,GE1.6-82.5,1600.0,80.0,82.5,5345.62,121.3,3.0,3.0,-93.632095,42.335491,POINT (-93.63210 42.33549)
33,3037762.0,IA,AG Land 6,2012.0,6.0,9.60,GE Wind,GE1.6-82.5,1600.0,80.0,82.5,5345.62,121.3,3.0,3.0,-93.636795,42.335491,POINT (-93.63680 42.33549)
34,3014014.0,OH,AMP-Ohio/Green Mountain Energy Wind Farm,2004.0,2.0,3.60,Vestas,V80-1.8,1800.0,78.0,80.0,5026.55,118.0,3.0,3.0,-83.736298,41.382492,POINT (-83.73630 41.38249)
35,3014725.0,OH,AMP-Ohio/Green Mountain Energy Wind Farm,2004.0,2.0,3.60,Vestas,V80-1.8,1800.0,78.0,80.0,5026.55,118.0,3.0,3.0,-83.736298,41.384693,POINT (-83.73630 41.38469)
36,3025843.0,IA,Adair,2008.0,76.0,174.80,Siemens,SWT-2.3-93,2300.0,80.0,93.0,6792.91,126.5,3.0,3.0,-94.726593,41.442894,POINT (-94.72659 41.44289)
37,3025865.0,IA,Adair,2008.0,76.0,174.80,Siemens,SWT-2.3-93,2300.0,80.0,93.0,6792.91,126.5,3.0,3.0,-94.670395,41.434994,POINT (-94.67039 41.43499)
38,3025861.0,IA,Adair,2008.0,76.0,174.80,Siemens,SWT-2.3-93,2300.0,80.0,93.0,6792.91,126.5,3.0,3.0,-94.606689,41.441292,POINT (-94.60669 41.44129)
39,3025846.0,IA,Adair,2008.0,76.0,174.80,Siemens,SWT-2.3-93,2300.0,80.0,93.0,6792.91,126.5,3.0,3.0,-94.711792,41.441292,POINT (-94.71179 41.44129)
40,3025849.0,IA,Adair,2008.0,76.0,174.80,Siemens,SWT-2.3-93,2300.0,80.0,93.0,6792.91,126.5,3.0,3.0,-94.695595,41.445194,POINT (-94.69559 41.44519)
41,3025825.0,IA,Adair,2008.0,76.0,174.80,Siemens,SWT-2.3-93,2300.0,80.0,93.0,6792.91,126.5,3.0,3.0,-94.655289,41.466293,POINT (-94.65529 41.46629)
42,3025823.0,IA,Adair,2008.0,76.0,174.80,Siemens,SWT-2.3-93,2300.0,80.0,93.0,6792.91,126.5,3.0,3.0,-94.665695,41.470993,POINT (-94.66569 41.47099)
43,3025857.0,IA,Adair,2008.0,76.0,174.80,Siemens,SWT-2.3-93,2300.0,80.0,93.0,6792.91,126.5,3.0,3.0,-94.665192,41.452293,POINT (-94.66519 41.45229)
44,3025878.0,IA,Adair,2008.0,76.0,174.80,Siemens,SWT-2.3-93,2300.0,80.0,93.0,6792.91,126.5,3.0,3.0,-94.673492,41.463093,POINT (-94.67349 41.46309)
45,3025877.0,IA,Adair,2008.0,76.0,174.80,Siemens,SWT-2.3-93,2300.0,80.0,93.0,6792.91,126.5,3.0,3.0,-94.677391,41.463093,POINT (-94.67739 41.46309)
46,3025873.0,IA,Adair,2008.0,76.0,174.80,Siemens,SWT-2.3-93,2300.0,80.0,93.0,6792.91,126.5,3.0,3.0,-94.651390,41.421494,POINT (-94.65139 41.42149)
47,3025867.0,IA,Adair,2008.0,76.0,174.80,Siemens,SWT-2.3-93,2300.0,80.0,93.0,6792.91,126.5,3.0,3.0,-94.658493,41.433193,POINT (-94.65849 41.43319)
48,3025869.0,IA,Adair,2008.0,76.0,174.80,Siemens,SWT-2.3-93,2300.0,80.0,93.0,6792.91,126.5,3.0,3.0,-94.670593,41.423992,POINT (-94.67059 41.42399)
49,3025837.0,IA,Adair,2008.0,76.0,174.80,Siemens,SWT-2.3-93,2300.0,80.0,93.0,6792.91,126.5,3.0,3.0,-94.652596,41.455894,POINT (-94.65260 41.45589)