In [52]:
import geopandas as gpd
import pandas as pd
import numpy as np
from shapely.geometry import Point
import matplotlib.pyplot as plt
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster

In [49]:
wind = gpd.read_file('../data/USWTDB/uswtdb_v3_2_20201014.geojson')

,case_id,t_state,p_name,p_year,p_tnum,p_cap,t_manu,t_model,t_cap,t_hh,t_rd,t_rsa,t_ttlh,t_conf_atr,t_conf_loc,xlong,ylat,geometry
0,3005443.0,CA,251 Wind,1987.0,194.0,18.43,Vestas,None,95.0,NaN,NaN,NaN,NaN,2.0,3.0,-118.351089,35.091896,POINT (-118.35109 35.09190)
1,3072704.0,CA,251 Wind,1987.0,194.0,18.43,Vestas,None,95.0,NaN,NaN,NaN,NaN,2.0,3.0,-118.364197,35.077644,POINT (-118.36420 35.07764)
2,3072695.0,CA,251 Wind,1987.0,194.0,18.43,Vestas,None,95.0,NaN,NaN,NaN,NaN,2.0,3.0,-118.364410,35.077435,POINT (-118.36441 35.07744)
3,3072661.0,CA,251 Wind,1987.0,194.0,18.43,Vestas,None,95.0,NaN,NaN,NaN,NaN,2.0,3.0,-118.363762,35.077908,POINT (-118.36376 35.07791)
4,3005333.0,CA,251 Wind,1987.0,194.0,18.43,Vestas,None,95.0,NaN,NaN,NaN,NaN,2.0,3.0,-118.368690,35.075294,POINT (-118.36869 35.07529)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65543,3101958.0,TX,unknown Young County,NaN,1.0,NaN,None,None,NaN,NaN,NaN,NaN,NaN,1.0,1.0,-98.907600,33.149414,POINT (-98.90760 33.14941)
65544,3040944.0,TX,unknown Young County 1,2011.0,1.0,NaN,None,None,NaN,NaN,NaN,NaN,NaN,1.0,3.0,-98.551094,33.093292,POINT (-98.55109 33.09329)
65545,3041125.0,TX,unknown Young County 2,2011.0,1.0,NaN,None,None,NaN,NaN,NaN,NaN,NaN,1.0,3.0,-98.617889,33.094593,POINT (-98.61789 33.09459)
65546,3055917.0,CO,unknown Yuma County,2016.0,2.0,NaN,None,None,NaN,NaN,NaN,NaN,NaN,1.0,3.0,-102.717171,40.035072,POINT (-102.71717 40.03507)
65547,3055918.0,CO,unknown Yuma County,2016.0,2.0,NaN,None,None,NaN,NaN,NaN,NaN,NaN,1.0,3.0,-102.716949,40.037548,POINT (-102.71695 40.03755)

In [45]:
wind.case_id.sort_values()

14452    3000001.0
50556    3000002.0
64371    3000003.0
50450    3000005.0
45687    3000008.0
           ...
5908     3105263.0
5854     3105264.0
5829     3105265.0
12168    3105266.0
12167    3105267.0
Name: case_id, Length: 65548, dtype: float64

In [42]:
manufacturers = wind.t_manu.value_counts().to_frame().reset_index()
manufacturers['index'].iloc[40:68]
manufacturers.head()

        index  t_manu
0     GE Wind   25858
1      Vestas   13904
2     Siemens    5144
3      Gamesa    3076
4  Mitsubishi    2791

In [35]:
wind.shape

(65548, 18)

In [8]:
wind.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 65548 entries, 0 to 65547
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   case_id     65548 non-null  float64
 1   t_state     65548 non-null  object
 2   p_name      65548 non-null  object
 3   p_year      64055 non-null  float64
 4   p_tnum      65548 non-null  float64
 5   p_cap       60580 non-null  float64
 6   t_manu      59569 non-null  object
 7   t_model     59245 non-null  object
 8   t_cap       59571 non-null  float64
 9   t_hh        58629 non-null  float64
 10  t_rd        58911 non-null  float64
 11  t_rsa       58911 non-null  float64
 12  t_ttlh      58629 non-null  float64
 13  t_conf_atr  65548 non-null  float64
 14  t_conf_loc  65548 non-null  float64
 15  xlong       65548 non-null  float64
 16  ylat        65548 non-null  float64
 17  geometry    65548 non-null  geometry
dtypes: float64(13), geometry(1), object(4)
memory usage: 9.0+ MB

In [20]:
year_install = wind.p_year.value_counts().to_frame().reset_index()

In [23]:
year_install =  year_install.sort_values(by = 'index')

In [24]:
year_install

     index  p_year
36  1981.0      11
17  1982.0     937
22  1983.0     433
30  1984.0     155
19  1985.0     714
31  1986.0     151
28  1987.0     213
26  1988.0     277
25  1989.0     288
24  1990.0     327
38  1991.0       1
37  1992.0       2
34  1994.0      30
33  1995.0      43
35  1996.0      14
27  1997.0     231
29  1998.0     186
18  1999.0     907
32  2000.0      72
13  2001.0    1875
21  2002.0     461
16  2003.0    1152
23  2004.0     328
14  2005.0    1658
15  2006.0    1507
8   2007.0    3200
2   2008.0    5047
1   2009.0    5700
11  2010.0    2965
7   2011.0    3496
0   2012.0    6772
20  2013.0     603
12  2014.0    2506
3   2015.0    4301
4   2016.0    3799
10  2017.0    3044
9   2018.0    3141
5   2019.0    3792
6   2020.0    3716

In [46]:
wind_old = pd.read_csv('../data/Onshore_Industrial_Wind_Turbine_Locations_for_the_United_States_to_March_2014.csv')

In [48]:
wind_old.columns

Index(['FID', 'unique_id', 'site_name', 'total_turb', 'on_year', 'year_range',
       'on_year_s', 'manufac', 'model', 'type_tower', 'decommiss',
       'MW_turbine', 'total_cpcy', 'total_ht', 'tower_h', 'blade_l',
       'rotor_dia', 'rotor_s_a', 'lat_DD', 'long_DD', 'state', 'county',
       'conf_attr', 'conf_loc', 'WENDI_name', 'EIA_name', 'FAA_jdate',
       'FAA_AGL', 'FAA_ORS', 'image_name', 'image_year', 'comments'],
      dtype='object')

In [53]:
wind_old['geometry'] = wind_old.apply(lambda x: Point((float(x.long_DD), 
                                                         float(x.lat_DD))), 
                                        axis=1)

In [73]:
wind_old.head()

,FID,unique_id,site_name,total_turb,on_year,year_range,on_year_s,manufac,model,type_tower,...,conf_loc,WENDI_name,EIA_name,FAA_jdate,FAA_AGL,FAA_ORS,image_name,image_year,comments,geometry
0,0,982,unknown Gilliam County,2,unknown,unknown,-99999,unknown,unknown,unknown,...,0,unknown,unknown,2013192,124.09,41-020577,Bing Maps Aerial,unknown,"FAA lists as Dismantle, google temporal analys...",POINT (-120.29879 45.65399)
1,1,1065,unknown Gilliam County,2,unknown,unknown,-99999,unknown,unknown,unknown,...,0,unknown,unknown,2013192,124.09,41-020578,Bing Maps Aerial,unknown,"FAA lists as Dismantle, google temporal analys...",POINT (-120.30599 45.66349)
2,2,1895,Banner Wind Project,2,2008,no,2008,Entegrity,EW50,trestle,...,2,Banner Wind Project,unknown,2009065,38.72,02-020064,Bing Maps Aerial,unknown,"trestle turbines removed, new monopoles instal...",POINT (-165.42748 64.56990)
3,3,1897,Banner Wind Project,2,2008,no,2008,Entegrity,EW50,trestle,...,2,Banner Wind Project,unknown,2009065,38.72,02-020070,Bing Maps Aerial,unknown,"trestle turbines removed, new monopoles instal...",POINT (-165.42638 64.57090)
4,4,2608,unknown Tehachapi Wind Resource Area 1,549,1982_1990,yes,1982,unknown,unknown,monopole,...,2,unknown,unknown,-99999,-99999.00,unknown,NAIP,2012,,POINT (-118.32149 35.05990)

In [56]:
wind_old_geo = gpd.GeoDataFrame(wind_old, 
                           crs = wind.crs, 
                           geometry = wind_old['geometry'])

In [64]:
wind_de = pd.merge(wind, wind_old, on = 'geometry', how = 'inner')

In [70]:
wind_de['decommiss'].value_counts()

no    611
Name: decommiss, dtype: int64

In [72]:
wind_de.columns

Index(['case_id', 't_state', 'p_name', 'p_year', 'p_tnum', 'p_cap', 't_manu',
       't_model', 't_cap', 't_hh', 't_rd', 't_rsa', 't_ttlh', 't_conf_atr',
       't_conf_loc', 'xlong', 'ylat', 'geometry', 'FID', 'unique_id',
       'site_name', 'total_turb', 'on_year', 'year_range', 'on_year_s',
       'manufac', 'model', 'type_tower', 'decommiss', 'MW_turbine',
       'total_cpcy', 'total_ht', 'tower_h', 'blade_l', 'rotor_dia',
       'rotor_s_a', 'lat_DD', 'long_DD', 'state', 'county', 'conf_attr',
       'conf_loc', 'WENDI_name', 'EIA_name', 'FAA_jdate', 'FAA_AGL', 'FAA_ORS',
       'image_name', 'image_year', 'comments'],
      dtype='object')

In [74]:
wind_old_geo.head()

,FID,unique_id,site_name,total_turb,on_year,year_range,on_year_s,manufac,model,type_tower,...,conf_loc,WENDI_name,EIA_name,FAA_jdate,FAA_AGL,FAA_ORS,image_name,image_year,comments,geometry
0,0,982,unknown Gilliam County,2,unknown,unknown,-99999,unknown,unknown,unknown,...,0,unknown,unknown,2013192,124.09,41-020577,Bing Maps Aerial,unknown,"FAA lists as Dismantle, google temporal analys...",POINT (-120.29879 45.65399)
1,1,1065,unknown Gilliam County,2,unknown,unknown,-99999,unknown,unknown,unknown,...,0,unknown,unknown,2013192,124.09,41-020578,Bing Maps Aerial,unknown,"FAA lists as Dismantle, google temporal analys...",POINT (-120.30599 45.66349)
2,2,1895,Banner Wind Project,2,2008,no,2008,Entegrity,EW50,trestle,...,2,Banner Wind Project,unknown,2009065,38.72,02-020064,Bing Maps Aerial,unknown,"trestle turbines removed, new monopoles instal...",POINT (-165.42748 64.56990)
3,3,1897,Banner Wind Project,2,2008,no,2008,Entegrity,EW50,trestle,...,2,Banner Wind Project,unknown,2009065,38.72,02-020070,Bing Maps Aerial,unknown,"trestle turbines removed, new monopoles instal...",POINT (-165.42638 64.57090)
4,4,2608,unknown Tehachapi Wind Resource Area 1,549,1982_1990,yes,1982,unknown,unknown,monopole,...,2,unknown,unknown,-99999,-99999.00,unknown,NAIP,2012,,POINT (-118.32149 35.05990)